* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px Helvetica, Arial;
}
.container.messages {
    height: 100%;
    padding-bottom: 50px;
    overflow: scroll;
}
.container.msgform {
    background: #000;
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
.form.msgform {
    height: 100%;
}
.form.msgform .input {
    float: left;
    width: calc(100% - 60px);
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 0 .5em;
    font-size: 18px;
}
.form.msgform .submit.button {
    float: left;
    width: 50px;
    height: 30px;
    background: #46CDC8;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}
.ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.message {
    display: flex;
    align-items: flex-start;
}
.message.self {
    flex-direction: row-reverse;
}
.message.self .message-text {
    background: #46CDC8;
    color: #fff;
}
.message-text {
    display: inline-block;
    max-width: 60%;
    padding: .5em 1em;
    margin: .25em 10px;
    border-radius: 1em;
    background-color: #eee;
    white-space: pre-wrap;
    word-break: break-all;
}
